@page
@model Web.Pages.Personas.EditarModel
@{
}
<header class="subhead">
    <div class="container">
        <div class="masthead-subheading">SC-701: Programación Web Avanzada</div>
        <div class="masthead-heading text-uppercase">Ejercicio persona</div>
    </div>
</header>

<section class="page-section bg-light" id="principal">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Editar persona</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto ">
            <form method="post">
                <div class="form-group">
                    <label class="control-label" asp-for="persona.Identificacion"></label>
                    <input class="form-control" asp-for="persona.Identificacion" />
                    <span class="text-danger" asp-validation-for="persona.Identificacion"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="persona.Nombre"></label>
                    <input class="form-control" asp-for="persona.Nombre" />
                    <span class="text-danger" asp-validation-for="persona.Nombre"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="persona.Apellido"></label>
                    <input class="form-control" asp-for="persona.Apellido" />
                    <span class="text-danger" asp-validation-for="persona.Apellido"></span>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <a class="btn btn-primary" asp-page="./Index">Regresar</a>
                    <input type="submit" value="Editar" class="btn btn-warning" />
                </div>
                <input type="hidden" asp-for="persona.Id" />
            </form>
            </div>
        </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
